/* You can add global styles to this file, and also import other style files */
* {
    color: #fff;
    background-color: #000;
}

.titlebar {
    height: 30px;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #000;
}
.titlebar-button:hover {
    color: #fff;
}
